ConsoleApp/Service References/MessageService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessageService_AddNewMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewMessage" />
  </wsdl:message>
  <wsdl:message name="IMessageService_AddNewMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetAllMessages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMessages" />
  </wsdl:message>
  <wsdl:message name="IMessageService_GetAllMessages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMessagesResponse" />
  </wsdl:message>
  <wsdl:portType name="IMessageService">
    <wsdl:operation name="AddNewMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/AddNewMessage" message="tns:IMessageService_AddNewMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/AddNewMessageResponse" message="tns:IMessageService_AddNewMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMessages">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessageService/GetAllMessages" message="tns:IMessageService_GetAllMessages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessageService/GetAllMessagesResponse" message="tns:IMessageService_GetAllMessages_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMessageService" type="tns:IMessageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewMessage">
      <soap:operation soapAction="http://tempuri.org/IMessageService/AddNewMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMessages">
      <soap:operation soapAction="http://tempuri.org/IMessageService/GetAllMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageService">
    <wsdl:port name="BasicHttpBinding_IMessageService" binding="tns:BasicHttpBinding_IMessageService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Service/MessageService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>